<!-- Section -->
<section class="page-section bg-dark-alfa-30" ng-style="{'background-image':'url(../../../Content/Images/texture/2104-3.jpg)'}">
    <div class="relative container align-left">

        <div class="row">

            <div class="col-md-8">
                <h1 class="hs-line-11 font-alt mb-20 mb-xs-0">Login / Registro</h1>
                <div class="hs-line-4 font-alt">
                    É rápido. E permite que você utilize o MUSUPR em todo seu potencial.
                </div>
            </div>

            <div class="col-md-4 mt-30">
                <div class="mod-breadcrumbs font-alt align-right">
                    <a href="#!/">Início</a>&nbsp;/&nbsp;<a href="#!/Login">Login/Registro</a>
                </div>

            </div>
        </div>

    </div>
</section>
<!-- End Section -->

<!-- Login Section -->
<section class="page-section pt-80">
    <div class="container relative">
        <rhythm-tab minimal="true" tabs="[{title:'Login', templateUrl: 'App_Angular/Components/Login/Tabs/LoginTab.html'},{title:'Registro', templateUrl: 'App_Angular/Components/Login/Tabs/RegisterTab.html'}]"></rhythm-tab>
    </div>
</section>
<!-- End Login Section -->
