################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Musupr/Musupr.App/bin
/Musupr/Musupr.App/Content/libs/rhythm
/Musupr/Musupr.App/obj/Debug
/Musupr/Musupr.App/Scripts/libs/rhythm/js
/Musupr/Musupr.Domain/obj/Debug
/Musupr/Musupr.Infrastructure/obj/Debug
/Musupr/Musupr.Repository/obj/Debug
/Musupr/Musupr.Service/obj/Debug
/Musupr/Musupr.Tests/obj/Debug
/packages/angular-block-ui.0.0.11
/packages/Angular.UI.Bootstrap.0.11.2
/packages/AngularJS.Core.1.3.0
/packages/AngularJS.Route.1.3.0
/packages/AngularJS.Sanitize.1.3.0
/packages/angularjs.TypeScript.DefinitelyTyped.2.1.8
/packages/bootstrap.3.2.0
/packages/EntityFramework.6.1.1
/packages/FontAwesome.4.2.0
/packages/gmaps-api-net.0.12.115
/packages/jQuery.2.1.1
/packages/jQuery.Migrate.1.2.1
/packages/jquery.TypeScript.DefinitelyTyped.1.4.0
/packages/Microsoft.AspNet.Cors.5.0.0
/packages/Microsoft.AspNet.WebApi.5.2.0
/packages/Microsoft.AspNet.WebApi.Client.5.2.2
/packages/Microsoft.AspNet.WebApi.Core.5.2.2
/packages/Microsoft.AspNet.WebApi.Owin.5.2.2
/packages/Microsoft.AspNet.WebApi.WebHost.5.2.0
/packages/Microsoft.Owin.3.0.0
/packages/Microsoft.Owin.Cors.3.0.0
/packages/Microsoft.Owin.Host.SystemWeb.3.0.0
/packages/Microsoft.Owin.Security.3.0.0
/packages/Microsoft.Owin.Security.OAuth.3.0.0
/packages/Newtonsoft.Json.6.0.3
/packages/Newtonsoft.Json.6.0.4
/packages/Newtonsoft.Json.6.0.8
/packages/Owin.1.0
/packages/toastr.2.0.3
/packages/toastr.TypeScript.DefinitelyTyped.0.1.1
/packages/Unity.3.5.1404.0
