<!-- Section -->
<section class="page-section bg-dark-alfa-30" ng-style="{'background-image':'url(../../../Content/Images/texture/2104-2.jpg)'}">
    <div class="relative container align-left">
        <div class="row">

            <div class="col-md-8">
                <h1 class="hs-line-11 font-alt mb-20 mb-xs-0">Sobre nós</h1>
                <div class="hs-line-4 font-alt">
                    Sobre o MUSUPR
                </div>
            </div>

            <div class="col-md-4 mt-30">
                <div class="mod-breadcrumbs font-alt align-right">
                    <a href="#!/">Início</a>
                    &nbsp;/&nbsp;<a href="javascript:void(0)">Sobre nós</a>
                </div>

            </div>
        </div>

    </div>
</section>
<!-- End Section -->
<section class="page-section" id="contact">
    <div class="container relative">


        <div class="section-text mb-60 mb-xs-40">

            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h4 class="mt-0 font-alt">Quem somos nós?</h4>

                    <p>
                        Na verdade "nós" é uma pessoa. Lucian Sturião Rodrigues, formado em Ciência da Computação pela UFRJ.
                    </p>
                    <p style="text-align:justify">
                        Resolvi criar o site para ajudar os futuros universitários na busca por oportunidades. Nunca imaginei que gostaria de desenvolver Web, pelo menos não no início da faculdade.
                        Com o tempo e oportunidades conheci a área e, atualmente, acho esta muito interessante.
                    </p>
                </div>
            </div>

        </div>

        <div class="row mb-60 mb-xs-40">

            <div class="col-md-8 col-md-offset-2">
                <div class="row">

                    <div class="col-sm-6 col-lg-4 pt-20 pb-20 pb-xs-0">
                        <div class="contact-item">
                            <div class="ci-icon">
                                <i class="fa fa-linkedin"></i>
                            </div>
                            <div class="ci-title font-alt">
                                linkedin
                            </div>
                            <a href="https://www.linkedin.com/profile/view?id=324076113" class="ci-text">
                                Lucian Sturião
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 pt-20 pb-20 pb-xs-0">
                        <div class="contact-item">
                            <div class="ci-icon">
                                <i class="fa fa-facebook"></i>
                            </div>
                            <div class="ci-title font-alt">
                                facebook
                            </div>
                            <a href="http://fb.com/LucianSturiao1" class="ci-text">
                                LucianSturiao1
                            </a>
                        </div>
                    </div>
       
                    <div class="col-sm-6 col-lg-4 pt-20 pb-20 pb-xs-0">
                        <div class="contact-item">
                            <div class="ci-icon">
                                <i class="fa fa-envelope"></i>
                            </div>
                            <div class="ci-title font-alt">
                                Email
                            </div>
                            <div class="ci-text">
                                <a href="mailto:luciansr@gmail.com">luciansr@gmail.com</a>
                            </div>
                        </div>
                    </div>
                    <!-- End Email -->

                </div>
            </div>

        </div>


    </div>
</section>

<hr class="mt-0 mb-0">