<!-- Section -->
<section class="page-section bg-dark-alfa-30" ng-style="{'background-image':'url(../../../Content/Images/texture/2104.jpg)'}">
    <div class="relative container align-left">

        <div class="row">

            <div class="col-md-8">
                <h1 class="hs-line-11 font-alt mb-20 mb-xs-0">Regras e Avisos</h1>
                <div class="hs-line-4 font-alt">
                    Regras e Avisos sobre utilização do site em geral 
                </div>
            </div>

            <div class="col-md-4 mt-30">
                <div class="mod-breadcrumbs font-alt align-right">
                    <a href="#!/">Início</a>
                    &nbsp;/&nbsp;<a href="javascript:void(0)">Regras e Avisos</a>
                </div>

            </div>
        </div>

    </div>
</section>
<!-- End Section -->
<!-- INICIO EDIT VAGAS -->
<section class="page-section pt-60 pb-60">
    <div class="container relative">

        <h3 class="font-alt mb-70 mb-sm-40 section-title">
            Regras e Avisos
        </h3> 

        <div class="row section-text">
            <div class="col-md-8 col-md-offset-2">

                <hr class="mb-30">

                <h4 class="font-alt">Sobre novos anúncios</h4>
                <p>
                    Anúncios têm como objetivo único divulgar oportunidades de vagas de emprego, estágio, vagas para trainee, iniciação científica, etc.
                </p>
                <hr class="mb-30">

                <h4 class="font-alt">Conteúdo de anúncios</h4>
                <p>
                    Não anúncie conteúdo que possa ser considerado ofensivo.  Anúncios com conteúdo impróprio (em qualquer natureza) serão bloqueados sem aviso prévio. Usuários que desrespeitarem essas regras também serão bloqueados.
                </p>

                <hr class="mb-30">

                <h4 class="font-alt">Sobre conteúdo divulgado no site</h4>
                <p>
                    Não nos responsabilizamos pelo conteúdo divulgado no site. O conteúdo é gerado pela comunidade.
                </p>
                <hr class="mb-30">


            </div>
        </div>

    </div>

</section>

<hr class="mt-0 mb-0">